<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="suite1">
  <test thread-count="5" name="Sanity">
    <classes>
      <class name="testNG.MultipleDropDownButtonNG"/>
      <class name="seleniumIntroduction.FirstClassMercuryToursTestNG"/>
      <class name="testNG.Demo"/>
    </classes>
  </test> <!-- Personal loan -->
</suite> <!-- Loan Department -->
